body{
  background-image: url("../images/Night.jpg");
  background-size: cover;
}
.top_menu{
	background-color: #2471a3;
	color: white;
  width: auto;
  font-size: 40px;
  font-family: Kumar One;
}
.header{
  	background-color: green;
  	border-bottom: 1px solid gray;
  	padding: 15px;
  	text-align:center;
  }
.row1{

  background-image: url("../images/thunder.jpg") ;
  background-repeat: no-repeat;
  background-size:cover;
  height: auto;
  width:60%;
  color: white;
  font-size: 20px;
}
.eve{
  float: left;

}
.row{
  width: 50%;
  background-image:url("../images/thunder.jpg");
  background-size:cover;
  color: red  ;
  font-size: 30px;
}
.bean{
  float: right;
  
}
