body{
  background-image: url("../images/Night.jpg");
  background-size: cover;
}
.top_menu{
	background-color: #2471a3;
	color: white;
  width: auto;
  font-size: 40px;
  font-family: sans-serif;
}
.header{
  	background-color: green;
  	border-bottom: 1px solid gray;
  	padding: 15px;
  	text-align:center;
  }
.row{
  float:right;
  background-color: #76d7c4;
  width: 50%;
  color="";
  font-size: 20px;
}
.eve{
  float: left;

}
